body {
	margin:0px;
	font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#wrapper {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	background-color:#ffcccc;
	height:170px;
}

#navBarContainer {
	background-color:#ccffcc;
	height:35px;
}

#navbar {
	height:35px;
	width:100%;
}

#navbar ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#navbar a {
	text-decoration:none;
	display:block;
	float:left;
	background-color:#1F409B;
	padding-left:2px;
	padding-right:2px;
	height:35px;
	width:193px;
	text-align:center;
	line-height:35px;
	border-bottom:1px solid #1F409B;	
}

#navbar a:link{
	color:#ffffff;
}

#navbar a:visited {
	color:#ffffff;
}

#navbar a.current {
	border-left:1px solid #1F409B;
	border-top:1px solid #1F409B;
	border-right:1px solid #1F409B;
	background-color:#E8EEFF;
	border-bottom:0px;
	padding-left:1px;
	padding-right:1px;
	color:#041649;
}

#navbar a:hover {
	background-color:#7392E6;
	color:#041649;
	border:1px solid #1F409B;
	padding-left:1px;
	padding-right:1px;
	height:34px;
}

#navbar a.current:hover {
	border-left:1px solid #1F409B;
	border-top:1px solid #1F409B;
	border-right:1px solid #1F409B;
	background-color:#E8EEFF;
	border-bottom:0px;
	padding-left:1px;
	padding-right:1px;
	color:#041649;	
}

#navbar li.spacer {
	display:block;
	float:left;
	background-color:#FFFFFF;
	border-bottom:1px solid #1F409B;
	padding:0px;
	height:35px;
	width:4px;
}

#content {
	background-color:#E8EEFF;
	border-left:1px solid #1F409B;
	border-right:1px solid #1F409B;
	border-bottom:1px solid #1F409B;
	min-height:800px;
}

#footer {
	background-color:#1F409B;
	height:35px;
	color:#ffffff;
	text-align:center;
	font-size:.8em;
}

#footer p {
	margin:0px;
	padding-top:7px;
}