body {
    background-color: #033A73;
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    margin:0px;
    padding:0px;
    color:white;
    overflow-x:hidden;
}

a:link, a:visited {
    color:#4087D0;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

img.linkIcon {
    width:1.5em;
    display:inline-block;
    vertical-align:middle;
    margin-bottom:10px;
    margin-top:10px;
}

#header {
    width:100%;
    height:50px;
    background-color:#020509;
    margin:0px;
}

#header h1 {
    margin:0px;
    margin-left:10px;
    padding:0px;
    font-weight:normal;
    font-size:2em;
    line-height:50px;
    display:inline-block;
}

#header h1:hover {
    cursor:pointer;
}

#navbar {
    list-style:none;
    padding:0px;
    margin:0px;
    display:inline-block;
    margin-left:25px
}

#navbar li {
    display:inline-block;
    position:relative;
    top:-3px;
    margin-left:50px;
    font-size:1.5em;
    font-weight:lighter;
    color: #ccc;
}

#navbar li:hover {
    color:white;
    cursor:pointer;
}

#contentWrapper {
    white-space:nowrap;
}

.pageSection {
    margin:40px;
    padding:20px;
    border:1px solid #021A33;
    background-color:rgba(2,26,51,0.85);
    width:700px;
    height:500px;
    display:inline-block;
    position:absolute;
}

.pageSection h1, h2 {
    margin:0px;
}

.pageSection  h1 {
    font-weight:normal;
    font-size:4em;
}

.pageSection h2 {
    font-weight:normal;
    font-size:2em;
    margin-bottom:20px;
}

.pageSection ul {
    list-style:none;
    margin:0px;
    padding:0px;
    padding-left:35px;
    font-size:1.5em;
}


#contentProjects {
    display:none;
    white-space:nowrap;
}

#thumbGrid {
    white-space:normal;
    width:670px;
    display:inline-block;
    vertical-align:middle;
}

#thumbGrid img {
    width:200px;
    height:100%px;
    vertical-align:middle;
    display:inline-block;
    margin:10px;
}

#thumbGrid img:hover {
    outline:2px solid #4087D0;
}

#projDisplay {
    height:400px;
    top:50px;
    width:430px;
    left:700px;
    margin-left:50px;
    display:none;
    vertical-align:middle;
    white-space:normal;
    text-align:center;
    position:absolute;
}

#projDisplay p, h2 {
    margin:0px;
}

#projImg {
    width:300px;
}

#projSkills {
    padding-top:5px;
    padding-bottom:5px;
}

#projDesc {
    font-size: .9em;
}

#contentSkills {
    display:none;
}

#contentAbout {
    display:none;
    white-space:normal;
}

.pseudoLink {
    color:#4087D0;
    cursor:pointer;
}

.pseudoLink:hover {
    text-decoration:underline;
}

#myPic {
    float:left;
    display:block;
    width:200px;
    margin:15px;
}

#contentContact {
    display:none;
}

#contentContact label {
    width:125px;
    display:inline-block;
    text-align:right;
    margin-right:10px;
}

#contentContact input[type="text"], textarea, input[type="button"] {
    background-color:#021A33;
    border:1px solid #055DBA;
    color:white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    
}

#contentContact input[type="text"]:hover, input[type="button"]:hover, textarea:hover {
    border:1px solid white
}
#contentContact input[type="text"]:focus, input[type="button"]:focus, textarea:focus {
    border:1px solid white;
    outline:0px;
}

#contentContact input[type="text"] {
    width:400px;
    display:inline-block;
    margin-bottom:5px;
    margin-top:5px
}

#contentContact textarea {
    width:660px;
    height:260px;
    font-size:.9em;
}

#contentContact input[type="button"] {
    font-size:1em;
    padding-left:10px;
    padding-right:10px;
}

#buttonContainer {
    width:660px;
    margin:7px;
    text-align:right;
}

#contentContact input[type="button"] {
    
}

#footer {
    background-color:#020509;
    text-align:center;
    width:100%;
    height:30px;
    position:fixed;
    bottom:0px;
    left:0px;
    font-size:.8em;
}

#footer p {
    margin:0px;
    padding:0px;
    line-height:30px;
}