/* General Styles */

body {
    background-color: #033A73;
    background-image: url(img/background-large.jpg);
    background-attachment: fixed;
    background-size: auto;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
    overflow-x: hidden;
}

a:link, a:visited {
    color: #4087D0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img.linkIcon {
    width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*#test {
    position:fixed;
    top:0px;
    left:0px;
    width:200px;
    height:200px;
    outline:1px solid red;
    background-color:rgba(60,0,0,.75);
    z-index: 1;
}*/

#header {
    background-color: #020509;
}

#header h1 {
    font-weight: normal;
}

#header h1 a {
    color: white;
}

#header h1 a:hover {
    text-decoration: none;
}

#header h1:hover {
    cursor: pointer;
}

#hamburger {
    display:none;
}

#navbar {
    list-style: none;
}

#navbar a {
    font-size: 1.5em;
    font-weight: lighter;
    color: #ccc;
}

#navbar a:hover {
    color: white;
    text-decoration: none;
}

.pageSection {
    border: 1px solid #021A33;
    background-color: rgba(2,26,51,0.85);
    position: relative;
}

.pageSection h1, h2 {
    margin: 0px;
}

.pageSection h1 {
    font-weight: normal;
}

.pageSection h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

.pageSection ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menuHint {
    display: none;
}

#contentProjects {
    display: none;
}

#thumbGrid {
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
}

#thumbGrid img {
    width: 200px;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
    opacity: 0.9;
}

#thumbGrid img:hover {
    outline: 2px solid #4087D0;
    opacity: 1;
}

#projDisplay {
    display: none;
    white-space: normal;
    text-align: center;
}

#projDisplay p, h2 {
    margin: 0px;
}

#projImg {
    width: 275px;
}

#projImg:hover {
    outline: 2px solid #4087D0;
}

#projSkills {
    padding-top: 5px;
    padding-bottom: 5px;
}

#projDesc {
    font-size: .9em;
}

#returnToThumbs {
    padding-top: 10px;
}

#contentSkills {
    display: none;
}

#contentAbout {
    display: none;
    white-space: normal;
    font-size: .9em;
}

.figure {
    float: left;
    display: block;
    width: 220px;
    margin-top: 18px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.figure img {
    width: 200px;
}

.figure p {
    margin: 0px;
    text-align: center;
    font-size: .8em;
}

#contentContact {
    display: none;
}

#contentContact label {
    width: 125px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

#contentContact label[for="body"] {
    width: auto;
}

#contentContact input[type="text"], textarea, input[type="button"], input[type="submit"] {
    background-color: #021A33;
    border: 1px solid #055DBA;
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

}

#contentContact input[type="text"]:hover, input[type="button"]:hover, input[type="submit"]:hover, textarea:hover {
    border: 1px solid #4087D0;
}

#contentContact input[type="text"]:focus, input[type="button"]:focus, input[type="submit"]:focus, textarea:focus {
    border: 1px solid white;
    outline: 0px;
}

#contentContact input[type="text"] {
    width: 400px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px
}

#contentContact textarea {
    width: 660px;
    height: 260px;
    font-size: .9em;
}

input[type="button"], input[type="submit"] {
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

#buttonContainer {
    width: 660px;
    margin: 7px;
    text-align: right;
}

#contentContact input[type="button"]:disabled {
    color: #055DBA;
}

#contentContact input[type="button"]:hover:disabled {
    border: 1px solid #055DBA;
}

.warning {
    margin-left: 8px;
}

.formRow {
    white-space: nowrap
}

#formResponse p {
    padding: 0px;
    margin: 0px;
}

.preloader {
    height: 26px;
    margin-top: 3px;
    display: none;
}

.pseudoLink {
    color:#4087D0;
    cursor:pointer;
}

.pseudoLink:hover {
    text-decoration:underline;
}

#footer {
    background-color: #020509;
    text-align: center;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: .8em;
}

#footer p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
}

/* For very wide screens 1350px and wider */
@media screen and (min-width: 1350px) {
    #thumbGrid {
        width:670px;
    }
    
    #projDisplay {
        height: 400px;
        top: 50px;
        width: 430px;
        left: 700px;
        margin-left: 50px;
        vertical-align: middle;
        position: absolute;
    }
    
    #returnToThumbs {
        display: none;
    }
}

/* For wide screens 900px wide and up */
@media screen and (min-width: 900px) {
    #header {
        width:100%;
        height: 50px;
        margin: 0px;
    }
    
    #header h1 {
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        line-height: 50px;
        display: inline-block;
        font-size: 2em;
    }
    
    #navbar {
        padding: 0px;
        margin: 0px;
        display: inline-block;
        margin-left: 25px
    }
    
    #navbar a {
        position: relative;
        top: -3px;
        margin-left: 50px;
    }
    
    #navbar li {
        display: inline-block;
    }
    
    .pageSection {
        margin: 40px;
        padding: 20px;
        width: 700px;
        height: 500px;
        display: inline-block;
    }
    
    .pageSection h1 {
        font-size: 4em;
    }
    
    .pageSection h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    .pageSection ul {
        padding-left: 35px;
        font-size: 1.5em;
    }
    
    #contentProjects {
        white-space: nowrap;
    }
    
    #thumbGrid {
        text-align: center
    }
    
    #thumbGrid h1 {
        text-align: left;
    }
    
    #returnToThumbs {
        display: block
    }

}

/* For medium screens 899px down to 361px wide */
@media screen and (max-width: 899px) and (min-width:361px) {    
    body {
        background-image:url(img/background-med.jpg);
    }
    
    #header {
        width:100%;
        height: 80px;
        margin: 0px;
    }
    
    #header h1 {
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        display: block;
        text-align: center;
        font-size: 2em;
    }
    
    #navbar {
        padding: 0px;
        margin: 0px;
        display: block;
        text-align: center;
        white-space: nowrap;
    }
    
    #navbar a {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    #navbar li {
        display: inline-block;
    }
    
    .pageSection {
        margin: 20px;
        margin-bottom: 50px;
        padding: 20px;
        display: block;
    }
    
    .pageSection h1 {
        font-size: 4em;
    }
    
    .pageSection h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    .pageSection ul {
        padding-left: 35px;
        font-size: 1.5em;
    }
    
    #contentProjects {
        white-space: nowrap;
    }
    
    #thumbGrid {
        text-align: center
    }
    
    #thumbGrid h1 {
        text-align: left;
    }
    
    #returnToThumbs {
        display: block
    }
    
    #contentContact input[type="text"] {
        width: 60%;
    }
    
    #contentContact label {
        width: 20%
    }
    
    #contentContact textarea {
        width: 99%;
    }
    
    #contentContact #buttonContainer {
        width: 99%;
    }

}

/* For small screens 360px or less wide*/
@media screen and (max-width: 360px) {
    body {
        background-image:url(img/background-small.jpg);
    }
    
    #header {
        width:100%;
        height: 40px;
        margin: 0px;
        padding-left:5px;
        text-align: left;
    }
    
    #header h1 {
        margin: 0px;
        margin-left: 0px;
        padding: 0px;
        display: block;
        font-size: 1.75em;
    }
    
    #hamburger {
        display:inline;
        width:25px;
        position:absolute;
        right:10px;
        top:7px;
        cursor: pointer;
    }
    
    #navbar {
        padding: 0px;
        margin: 0px;
        display: inline-block;
        background-color:rgba(2, 5, 9, .9);
        font-size: 1em;
        overflow: hidden;
        white-space: normal;
        position:absolute;
        z-index:1;
        width:125px;
        right:3px;
        padding-top:10px;
        padding-bottom:10px;
        text-align:right;
        display:none;
    }
    
    #navbar a {
        margin-left: 10px;
        margin-right: 10px;
        color:white;

    }
    
    #navbar li {
        display: block;
        padding-top:10px;
        padding-bottom:10px
    }
    
    .pageSection {
        padding: 10px;
        margin: 10px;
        margin-bottom: 40px;
        display: block;
    }
    
    .pageSection h1 {
        font-size: 2.75em;
    }
    
    .pageSection h2 {
        font-size: 1.25em;
        margin-bottom: 20px;
    }
    
    .pageSection ul {
        padding-left: 15px;
        font-size: 1.25em;
    }
    
    #menuHint {
        display:block;
        text-align: center;
        font-size:1.25em;
    }
    
    #contentProjects {
        white-space: nowrap;
    }
    
    #thumbGrid {
        text-align: center
    }
    
    #thumbGrid h1 {
        text-align: left;
    }
    
    #returnToThumbs {
        display: block
    }
    
    .figure {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    #contentContact .formRow {
        white-space:normal;
        margin-bottom:-1em; 
    }
    
    #contentContact label {
        width:auto;
        display:block;
        text-align:left;
    }
    
    #contentContact input[type="text"] {
        width:100%;
        display:block;
    }
    
    #contentContact .warning {
        display:block;
        text-align:right;
    }
    
    #contentContact textarea {
        width:100%;
        margin-top:-1em;
    }
    
    #contentContact #buttonContainer {
        display:block;
        width:100%;
    }


}
