body {
	margin:0px;
	font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

img.articleInset {
	float:right;
	width:275px;
	margin-left:20px;
	margin-bottom:20px;
}

a {
	text-decoration:none;
}

a:link {
	color:#1F409B;
}

a:visited {
	color:#1F409B;
}

a:hover {
	text-decoration:underline;
}

#wrapper {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	background-color:#ffcccc;
	height:170px;
}

#navBarContainer {
	background-color:#ccffcc;
	height:35px;
}

#navbar {
	height:35px;
	width:100%;
}

#navbar ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#navbar a {
	text-decoration:none;
	display:block;
	float:left;
	background-color:#1F409B;
	padding-left:2px;
	padding-right:2px;
	height:35px;
	width:193px;
	text-align:center;
	line-height:35px;
	border-bottom:1px solid #1F409B;	
}

#navbar a:link{
	color:#ffffff;
}

#navbar a:visited {
	color:#ffffff;
}

#navbar a.current {
	border-left:1px solid #1F409B;
	border-top:1px solid #1F409B;
	border-right:1px solid #1F409B;
	background-color:#E8EEFF;
	border-bottom:0px;
	padding-left:1px;
	padding-right:1px;
	color:#041649;
}

#navbar a:hover {
	background-color:#7392E6;
	color:#041649;
	border:1px solid #1F409B;
	padding-left:1px;
	padding-right:1px;
	height:34px;
}

#navbar a.current:hover {
	border-left:1px solid #1F409B;
	border-top:1px solid #1F409B;
	border-right:1px solid #1F409B;
	background-color:#E8EEFF;
	border-bottom:0px;
	padding-left:1px;
	padding-right:1px;
	color:#041649;	
}

#navbar li.spacer {
	display:block;
	float:left;
	background-color:#FFFFFF;
	border-bottom:1px solid #1F409B;
	padding:0px;
	height:35px;
	width:4px;
}

#content {
	background-color:#E8EEFF;
	border-left:1px solid #1F409B;
	border-right:1px solid #1F409B;
	border-bottom:1px solid #1F409B;
	min-height:600px;
	padding:20px;
}

#content h1 {
	margin-top:0px;
	padding-top:0px;
}

#galContainer {
	width:600px;
	height:700px;
	border:1px solid #1F409B;
	margin-left:auto;
	margin-right:auto;
}

#galDisplay {
	width:100%;
	margin:0px;
	padding:0px;
	height:575px;
	border-bottom:1px solid #1F409B;
	text-align:center;
}

#galImage {
	height:350px;
}

#galImage:hover {
	outline: 1px solid #7392E6;
}

#galTitle {
	margin-top:0px;
	margin-bottom:10px;
}

#galURL {
	margin-top:5px;
	font-size:1.5em;
	margin-bottom:5px;
}

#galDesc {
	margin-left:20px;
	margin-right:20px;
	margin-top:5px;
}

#galControl {
	width:100%;
	margin:0px;
	padding:0px;
	height:125px;
	position:relative;
}

#galScrollLeft {
	width:20px;
	height:125px;
	margin:0px;
	position:absolute;
	text-align:center;
	font-size:2em;
	line-height:115px;
}

.scroller:hover {
	color:white;
	background-color:#7392E6;
}

#galThumbs {
	width:550px;
	margin:0px;
	height:125px;
	position:absolute;
	left:25px;
	text-align:center;
}

#galThumbs img {
	height:115px;
	margin-top:5px;
	opacity:0.5;
}

#galThumbs img:hover {
	outline: 1px solid #7392E6;
}

#galScrollRight {
	width:20px;
	height:125px;
	margin:0px;
	position:absolute;
	left:580px;
	text-align:center;
	font-size:2em;
	line-height:115px;
}

#footer {
	background-color:#1F409B;
	height:35px;
	color:#ffffff;
	text-align:center;
	font-size:.8em;
}

#footer p {
	margin:0px;
	padding-top:7px;
}